extends layout

include mixins/_pageH1

block content
  .text-center
    +pageH1('Админка')
    h2 Статистика
    .row
      .col-6
        h3 Визиты страниц сайта
        canvas(id="sitevisits")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
    script.
      const data = !{JSON.stringify(stats)}
      Chart.Bar('sitevisits', {
        data: {
          labels: data.map(i=>i.url),
          datasets: [{
            label: 'Количество визитов',
            data: data.map(i=>+i.visits),
            backgroundColor: 'rgb(0,0,0)',
            hoverBackgroundColor: 'rgb(60,60,60)'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero:true
              }
            }],
            xAxes: [{
              gridLines: {
                display: false
              }
            }]
          }
        }
      })