extends layout

include mixins/_pageH1

block content
  +pageH1('Доставка')
  h4 Доставка курьером
  p.text-justify Вы можете заказать доставку курьером как по нашему городу так и по регионам. Стоимость доставки по Днепру зависит от удаленности местонахождения Клиента от месторасположения нашей фирмы и от общей суммы заказа варьируется в пределах от 50 до 75 грн.
  h4 Самовывоз из офиса
  p.text-justify Самовывоз бесплатен. Если выбранный Вами товар есть в наличии, то Вы можете забрать его в тот же день или в любой другой день после заказа.
  h4 Доставка в другие регионы
  p.text-justify Ваш заказ будет выслан Вам одной из Украинских транспортных компаний, таких как: Новая Почта, Автолюкс, Гюнсел или любая другая удобная ВАМ, сразу после получения от Вас оплаты. Доставка в регионы возможна только при частичной или 100% предоплате. Срок доставки в регионы составляет от 1 до 3 дней, в зависимости от региона доставки.