extends layout

include mixins/_pageH1

block content
  +pageH1(product.name)
  .row.mt-3
    img.col-md-6.col-sm-12
    .container.col-md-6.col-sm-12
      p= product.description
      h5= product.cost+' грн.'
      form(method="post" action="/basket/add/").form-inline
        label(for="quantity") Количество
        input.form-control.m-3(type="number" name="quantity" id="quantity" min=1 max=product.count_available value=1 required)
        input(type="hidden" name="product_id" value=product.id)
        button.btn.btn-success(type="submit") В корзину