extends layout

include mixins/_pageH1

block content
  +pageH1('Гарантия')
  p.text-justify При неисправности купленного товара Вы можете воспользоваться услугами нашего сервисного центра либо вернуть купленный товар в течении 14 дней с даты указанной у вас в расходной накладной.
  h4 Если Ваш товар неисправен
  p.text-justify Вы можете вернуть купленный Вами товар в течение 14 дней с момента приобретения или воспользоватся услугами бесплатного гарантийного ремонта в течении всего гарантийного срока при наличии товарного чека или расходной накладной, а также без следов эксплуатации и при условии сохранности всех комплектующих.
  h4 Если товар Вам не понравился
  p.text-justify Вы можете вернуть только полностью исправный товар без дефектов и при условии сохранности фирменной упаковки в течение 14 дней.
  h4 Условия гарантии
  p.text-justify
    | Гарантийные обязательства не распространяются на расходные элементы и материалы (батареи, картриджи, термоголовки и т.п.), а также на ремонт или замену естественно изнашиваемых в процессе эксплуатации частей;
    br
    | В гарантийном ремонте может быть отказано, если установка или ремонт товара производились лицами, не имеющими соответствующих полномочий и квалификации;
    br
    | Гарантийные пломбы на корпусе не должны иметь следов вскрытия;
    br
    | Перед включением техники внимательно изучите прилагаемую инструкцию, при несоблюдении условий эксплуатации право на гарантийный ремонт утрачивается.